<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learning Angular</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body ng-app="ngLearn" ng-controller="learnController">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Learning Angular</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="col-sm-12 price-form">
        <div class="row price-form-row" ng-if="!addListing">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Min Pupsiness</span>
              <select name="minPupsiness" id="minPupsiness" ng-model="pupsinessInfo.min" class="form-control">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
              </select>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">Max Pupsiness</span>
              <select name="maxPupsiness" id="maxPupsiness" ng-model="pupsinessInfo.max" class="form-control">
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
                <option value="500">500</option>
                <option value="600">600</option>
                <option value="700">700</option>
                <option value="800">800</option>
                <option value="900">900</option>
                <option value="1000">1000</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-md-4" ng-repeat="item in items | learnFilter:pupsinessInfo">
        <div class="thumbnail">
          <div class="caption">
            <h4>The name of the person is {{ item.name }}</h4>
            <h4>The family name of the person is {{ item.surname }}</h4>
            <button class="btn btn-primary" type="button" ng-click="showDetails = !showDetails">Details</button>
            <div class="details" ng-show="showDetails == true">
              <h4><i class="glyphicon glyphicon-heart-empty"></i> The pupsiness level is {{ item.pupsiness }}</h4>
              <h4><i class="glyphicon {{item.speciesicon}}"></i> This object is {{item.species}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script src="scripts/learnController.js"></script>
  <script src="scripts/learnFactory.js"></script>
  <script src="scripts/learnFilter.js"></script>
</html>
